tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaaxr2zj2tokqai2vyetuiinhzdr2i6yupriqasl5im3jwv7yjfa2ua"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaayhvqxmlrywosn7ef2jtruuvatnovwluou2bhwzbtstg5sq2gtppa"
region = "us-ashburn-1"
oci_config_profile = "EDFREETIER"
state_bucket_name = "grocery-always-free-tfstate"
state_namespace = "iddiywf0v4j6"
